<div class="main-page">
  <div class="portfolio-navigation__wrapper">

    <div class="menu">
      <span class="menu-icon" (click)="showMenu()"></span>
      <span class="logo-icon"></span>
    </div>
  </div>

  <ng-container>
    <div *ngFor="let item of items"
         class="main-page__image">

      <div class="main-page__image_title">
        <h2>Main</h2>
      </div>

      <div class="main-page__image_item" *ngIf="item['vimeoData']">
        <img #imageItem
             (click)="mediaDownload(item.link)"
             [src]="item['vimeoData']['thumbnail_large']"
             (load)="onImageLoad(imageItem)">

        <div class="main-page--description" [innerHTML]="item['vimeoData']['description'] || 'Lorem insup...'">
        </div>
      </div>
    </div>
  </ng-container>

  <app-video *ngIf="show"
             [url]="url"
             (closeEvent)="show = false"
  ></app-video>


</div>
