.main-page{
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(7,7,7, 0.95);
  &__image{
    width: 100%;
    //height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;

    &_title {
      display: flex;
      min-height: 70px;
      justify-content: center;
      align-items: center;
      & > h2 {
        color: white;
      }
    }
    &_item{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //width: 100%;

      & > img{
        transition: 0.7s;
        margin-bottom: 15px;
        opacity: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
      }

      & > p {
        color: white;
      }
    }
  }
}

.main-page--description{
  color: #fff;
  font-size: 18px;
  width: 90%;
  padding: 0 10px 10px 10px;
}


@media only screen
and (max-device-width : 1024px)  {
  .portfolio-navigation {
    display: none;
  }

  .main-page__image_title{
    display: none;
  }

  .main-page__image{
    padding-bottom: 15px;

    &_item > img {
      width: 70%;
    }
  }

  .main-page{
    overflow-y: auto;
  }

  .portfolio-navigation__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68px;
  }
  .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 20px;
    span{
      display: block;
      width: 40px;
      height: 40px;
    }
    &-icon{
      background: url("../../assets/icons/menu.png") no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;

    }
    .logo-icon{
      background: url("../../assets/icons/main-logo.png") no-repeat;
      background-size: cover;
      width: 65px;
      height: 60px;

    }
  }
}

