<div class="portfolio-page">
  <app-portfolio-navigation class="portfolio-page__nav">

  </app-portfolio-navigation>


  <div class="portfolio-page__block">
    <ng-container *ngFor="let item of items">
      <div *ngIf="item['vimeoData']"
           (click)="mediaDownload(item.link, item)"
           class="portfolio-page__block_image">

        <img #imageItem *ngIf="item['vimeoData']"
             (load)="onImageLoad(imageItem, imageText)"
             [src]="item['vimeoData']['thumbnail_large']">

        <div #imageText class="text-wrapper">
          <p *ngIf="item['vimeoData']">
            {{ item['vimeoData']['title'] }}
          </p>
        </div>
      </div>
    </ng-container>
  </div>

  <app-video *ngIf="show"
             [url]="url"
             [description]="description"
             (closeEvent)="show = false"
  ></app-video>

</div>
